<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="org.example.listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="org.example.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Home Page Tests">
        <classes>
            <class name="org.example.tests.HomePageTest"/>
        </classes>
    </test>

    <test name="E-Commerce Tests">
        <classes>
            <class name="org.example.tests.ECommerceTest"/>
        </classes>
    </test>
</suite>

